# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress output
cypress/reports/
cypress/videos/
cypress/screenshots/
cypress/downloads/

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
